:root {
  --left-padding: 20px;
  --right-margin: 20px;
  --iocn-width: 100px;
  --header-height: 150px;
  --header-gap: 16px;
  --section-heights: 250px;
  --section-gap: 18px;
  --label-font-size: 17px;
  --input-font-size: 10px;
  --input-height: 20px;
  --input-width: 120px;
  --button-width: 80px;
  --button-height: 30px;
  --button-font-size: 16px;
  --title-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
}

/* Header */

.Header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(275.07deg, #4261be 0%, #758bfd 50%, #4261be 100%);
}

.left-header {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--header-gap);
  padding-left: var(--left-padding);
}

.header-input-container,
.education-input-container,
.experience-input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 14px;
  color: #f9f9f9;
}

.header-input-container > input {
  color: #f9f9f9;
}

.labels {
  font-weight: 500;
  font-size: var(--label-font-size);
}

.input-box {
  width: var(--input-width);
  height: var(--input-height);
  background-color: transparent;
  border: 1.5px solid #0a122a;
  border-radius: 5px;
  font-size: var(--input-font-size);
  padding: 3px;
}

.input-box:invalid {
  border: 1.5px solid rgb(255, 130, 130);
}

::placeholder {
  color: #b9b9b9;
}

.person-icon-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.person-icon {
  width: var(--iocn-width);
  margin-right: var(--right-margin);
}

/* Education */

.Education,
.Experience {
  width: 100%;
  height: var(--section-heights);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: var(--left-padding);
  color: #0a122a;
  gap: var(--section-gap);
}

.education-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: var(--title-size);
}

.education-input-container {
  color: #0a122a;
}

.education-inputs {
  width: 150px;
  height: 20px;
  background-color: transparent;
  border: 1.5px solid #0a122a;
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
}

/* spacer */

.spacer-container {
  width: 100%;
  padding-left: var(--left-padding);
  padding-right: var(--left-padding);
  margin-top: 20px;
}

.spacer {
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #0a122a;
}

/* experience */

.experience-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: var(--title-size);
}

.experience-input-container {
  color: #0a122a;
}

/* Buttons */

.Buttons {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn,
.edit-btn {
  width: var(--button-width);
  height: var(--button-height);
  position: absolute;
  background-color: #758bfd;
  border: 0px solid transparent;
  box-shadow: -3px 4px 5px rgba(4, 4, 4, 0.47);
  border-radius: 10px;
  font-weight: 500;
  color: #f9f9f9;
  cursor: pointer;
  font-size: var(--button-font-size);
  transition: ease-in-out 0.3s;
}

.submit-btn:active,
.edit-btn:active {
  translate: -3px 4px;
  box-shadow: none;
}

/* prev text */

.prev-text {
  margin: 0;
}

/* phone horizontal */
@media only screen and (width > 500px) {
  :root {
    --left-padding: 50px;
    --right-margin: 50px;
    --iocn-width: 120px;
    --header-height: 180px;
    --header-gap: 25px;
  }
}

@media only screen and (width > 750px) {
  :root {
    --left-padding: 120px;
    --right-margin: 120px;
    --iocn-width: 130px;
    --header-height: 180px;
    --header-gap: 25px;
  }
}

/* tablet */

@media only screen and (width > 750px) {
  :root {
    --left-padding: 120px;
    --right-margin: 120px;
    --iocn-width: 130px;
    --header-height: 180px;
    --header-gap: 25px;
    --section-heights: 300px;
    --section-gap: 25px;
    --label-font-size: 20px;
    --input-font-size: 13px;
    --input-height: 25px;
    --input-width: 140px;
    --button-width: 100px;
    --button-height: 40px;
    --button-font-size: 18px;
    --title-size: 23px;
  }
}

@media only screen and (width > 750px) and (height < 1000px) {
  :root {
    --left-padding: 160px;
    --right-margin: 160px;
    --iocn-width: 140px;
    --header-height: 180px;
    --header-gap: 25px;
    --section-heights: 300px;
    --section-gap: 25px;
    --label-font-size: 20px;
    --input-font-size: 13px;
    --input-height: 25px;
    --input-width: 140px;
    --button-width: 100px;
    --button-height: 40px;
    --button-font-size: 18px;
    --title-size: 23px;
  }
}

/* desktop */

@media only screen and (width > 750px) and (height > 1000px) {
  :root {
    --left-padding: 100px;
    --right-margin: 100px;
    --iocn-width: 160px;
    --header-height: 250px;
    --header-gap: 40px;
    --section-heights: 400px;
    --section-gap: 40px;
    --label-font-size: 21px;
    --input-font-size: 14px;
    --input-height: 28px;
    --input-width: 160px;
    --button-width: 135px;
    --button-height: 45px;
    --button-font-size: 22px;
    --title-size: 24px;
  }
}

@media only screen and (width > 1500px) and (height > 1000px) {
  :root {
    --left-padding: 300px;
    --right-margin: 300px;
    --iocn-width: 160px;
    --header-height: 250px;
    --header-gap: 40px;
    --section-heights: 400px;
    --section-gap: 40px;
    --label-font-size: 21px;
    --input-font-size: 14px;
    --input-height: 28px;
    --input-width: 160px;
    --button-width: 135px;
    --button-height: 45px;
    --button-font-size: 22px;
    --title-size: 24px;
  }
}
